.typography-heading {
    color: #01105f;
    font-size: 30px;
}

.box-centered {
    position: absolute;
    width: 100%;
    text-align: center;
}

.button-styled {
    font-size: 17px;
    margin-top: 13px;
    padding: 15px;
    border-radius: 25px !important;
    background-color: #01105f !important;
    color: white !important;
    text-transform: capitalize !important;
}